# Entornos virtuales Python
venv/
.venv/
env/

# Cache de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Node modules
node_modules/

# Variables de entorno
.env
.env.local

# Datasets y modelos pesados
*.csv
*.pkl
*.h5
*.model

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log